.homescreen {
    max-width: 100%;
    /* margin: 1rem auto; */
    padding-top: 60px;
}

.homescreen__title {
    font-size: 1.5rem;
    color: #171717;
    margin-bottom: 1rem;
    margin-left: 8px;
}

.homescreen__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1200px) {
    .homescreen__products {
        grid-template-columns: repeat(3, 1fr );
    }
}

@media (max-width: 900px) {
    .homescreen__products {
        grid-template-columns: repeat(2, 1fr );
    }
}

@media (max-width: 678px) {
    .homescreen__products {
        grid-template-columns: repeat(1, 1fr );
    }
}